body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Matrix\ Rain\ Codes\ \(4K\ FULL\ HD\).m4a);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin-right:50px ;



}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 255, 115, 0.575);
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-style: bold;
}

nav a:hover {
    color: #69fff7;
    border-bottom: 2px solid gold;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px black;
    background-color: green;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
    ;
}

.deroulant>a::after {
    content: "▼";
    font-size: 12px;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


    
